<%- include('partials/adminheader.ejs') %>

    <div class="content">

        <div>


            <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">Add Product</button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Select The Category in that which type of product you want to add.
                    </div>
                    <div class="dropdown mt-3">
                        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Choose One
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/addmen">Mens</a></li>
                            <li><a class="dropdown-item" href="/addwomen">Women</a></li>
                            <li><a class="dropdown-item" href="/addkid">Kids</a></li>
                            <li><a class="dropdown-item" href="/addfootwear">Footwear</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Mens Product Section  -->

            <div class="container mt-5">
                <h1 class="text-center product_head mb-3">Mens Product</h1>
                <table class="table table-bordered table-striped">
                    <thead class="table-primary">
                        <tr class="sticky-top">
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (mens !="" ) { %>
                            <% mens.forEach(element=> { %>
                                <tr>
                                    <td>
                                        <img src="<%= element.imagePath %>" width="100" class="img-thumbnail" alt="">
                                    </td>
                                    <td>
                                        <%= element.name %>
                                    </td>
                                    <td>
                                        <%= element.description %>
                                    </td>
                                    <td>
                                        <%= element.price %>
                                    </td>
                                    <td>
                                        <%= element.category %>
                                    </td>
                                    <td>
                                        <%= element.rating %>
                                    </td>

                                </tr>
                                <% }) %>

                                    <% } else { %>
                                        <h2 class="text-center rounded product-warning">No Data Found!</h2>
                                        <% } %>
                    </tbody>
                </table>
            </div>


            <!-- Women Product Section  -->

            <div class="container mt-5">
                <h1 class="text-center product_head mb-3">Women Product</h1>
                <table class="table table-bordered table-striped">
                    <thead class="table-danger">
                        <tr class="sticky-top">
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (womens !="" ) { %>
                            <% womens.forEach(element=> { %>
                                <tr>
                                    <td>
                                        <img src="<%= element.imagePath %>" width="100" class="img-thumbnail" alt="">
                                    </td>
                                    <td>
                                        <%= element.name %>
                                    </td>
                                    <td>
                                        <%= element.description %>
                                    </td>
                                    <td>
                                        <%= element.price %>
                                    </td>
                                    <td>
                                        <%= element.category %>
                                    </td>
                                    <td>
                                        <%= element.rating %>
                                    </td>

                                </tr>
                                <% }) %>

                                    <% } else { %>
                                        <h2 class="text-center rounded product-warning">No Data Found!</h2>
                                        <% } %>
                    </tbody>
                </table>
            </div>

            <!-- Kids Product Section  -->

            <div class="container mt-5">
                <h1 class="text-center product_head mb-3">Kids Product</h1>
                <table class="table table-bordered table-striped">
                    <thead class="table-success">
                        <tr class="sticky-top">
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <% if (kids !="" ) { %>
                        <% kids.forEach(element=> { %>
                            <tr>
                                <td>
                                    <img src=" <%=element.imagePath %>" width="100" class="img-thumbnail" alt="">
                                </td>
                                <td>
                                    <%= element.name %>
                                </td>
                                <td>
                                    <%= element.description %>
                                </td>
                                <td>
                                    <%= element.price %>
                                </td>
                                <td>
                                    <%= element.category %>
                                </td>
                                <td>
                                    <%= element.rating %>
                                </td>

                            </tr>
                            <% }) %>

                                <% } else { %>
                                    <h2 class="text-center rounded product-warning">No Data Found!</h2>
                                    <% } %>
                                        </tbody>
                </table>

            </div>

            <!-- Footwear Product Section  -->

            <div class="container mt-5">
                <h1 class="text-center product_head mb-3">Footwear Product</h1>
                <table class="table table-bordered table-striped">
                    <thead class="table-warning">
                        <tr class="sticky-top">
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <% if (footwears !="" ) { %>
                        <% footwears.forEach(element=> { %>
                            <tr>
                                <td>
                                    <img src="<%= element.imagePath %>" width="100" class="img-thumbnail" alt="">
                                </td>
                                <td>
                                    <%= element.name %>
                                </td>
                                <td>
                                    <%= element.description %>
                                </td>
                                <td>
                                    <%= element.price %>
                                </td>
                                <td>
                                    <%= element.category %>
                                </td>
                                <td>
                                    <%= element.rating %>
                                </td>

                            </tr>
                            <% }) %>

                                <% } else { %>
                                    <h2 class="text-center rounded product-warning">No Data Found!</h2>
                                    <% } %>

                                        </tbody>
                </table>
            </div>








        </div>




    </div>


    <%- include('partials/adminfooter.ejs') %>